body {
    transition: background-color 0.5s, color 0.5s;
}
.carousel {
    position: relative;
    width: 800px;
    margin: auto;
}
.carousel img {
    width: 100%;
    display: none;
}
.carousel img.active {
    display: block;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}

.style1 {
background-color: #0004f7;
color: rgb(157, 255, 0);
}
.style2 { 
background-color: #8cb9ca;
color: rgb(0, 0, 0);
}

.style3 {
background-color: #ff9900;
color: rgb(0, 0, 0);
}